body {
    background-color: #efeff5;
    color: white; 
    margin: 0;
    padding: 0;
                }
                .logo-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff; /* Sayfanın zemin rengine göre ayarla */
    display: flex;
    align-items: center;
    padding-left: 20px;
    z-index: 1000;
  
    /* Işık efekti */
    box-shadow: 0 4px 15px rgba(35, 18, 165, 0.4); /* Beyaz ışık gibi */
    /* Alternatif olarak daha yumuşak bir geçiş:
    background: linear-gradient(to bottom, #fff, #ffffffcc);
    */
  }
  
  .logo-container img {
    height: 30px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Tema rengine göre ayarlanabilir */
  }
  .carousel-inner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
.bg-gray-100{
    box-shadow: 0 8px 16px 0 rgb(104, 115, 231), 0 6px 16px 0 #8694da;
}
.baslik{
    color:black;
    font-size: large;
}
.reklam{
    color: black;
}
.imgss{
    width: 200px; /* Sabit genişlik */
    height: 200px; /* Sabit yükseklik */
    object-fit: cover; /* Görselin orijinal boyutunu bozmadan keser */
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 30px; /* logonun boyutu */
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  .baloncuk {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #3498db;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    z-index: 999;
  }
  .baloncuk:hover {
    transform: scale(1.1);
    background-color: #2980b9;}
    .bildirim {
        position: fixed;
        bottom: 90px;
        right: 20px;
        background-color: #ffffff;
        color: #333;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        display: none;
        z-index: 998;
      }
  
  