.bg-gray-100{
    box-shadow: 0 8px 16px 0 rgb(122, 159, 239), 0 6px 16px 0 #8694da;
}
.baslik{
    color:black;
}
.reklam{
    color: black;
}
img {
    height: 200px; /* Burada istediğin yüksekliği ayarlayabilirsin */
    object-fit: cover; /* Görselin oranını korur ve fazla kısmı kırpar */
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 30px; /* logonun boyutunu ayarlayabilirsin */
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
    
  
  